.layout-sidebar {
  &__item {
    background-color: black;
    text-align: center;

    &__link {
      color: white;
      font-weight: bold;
      &:hover {
        color: #b5b5b5;
      }
    }
  }

}