@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~bourbon-bitters/app/assets/stylesheets/bitters";
@import "~bourbon-neat/core/neat";

@import "grid.scss";

@import "blocks/menu";

#root {
  background-color: red;
}

a {
  cursor: pointer;
}

select {
  background-color: white !important;
  border-style: solid !important;
  width: 120px;
  height: 35px;
  -webkit-appearance: menulist !important;
  box-sizing: border-box !important;
}
