$article-layout-grid: (
        columns: 1,
        gutter: 30px,
);

$article-layout-grid-lg: (
        columns: 12,
        gutter: 30px,
        media: "(min-width: 768px)",
);

$article-layout-grid--tablet-up: (
        columns: 2,
        gutter: 10px,
        media: "(min-width: 768px)",
);

$menu-grid: (
        columns: 4,
        gutter: 2px,
        media: "(min-width: 280px)",
);

$menu-grid2: (
        columns: 3,
        gutter: 2px,
        media: "(min-width: 350px)",
);

#main {
  @include grid-container;
  @include grid-media($article-layout-grid-lg) {
    .lg-col-2 {
      @include grid-column(2);
    }
    .lg-col-8 {
      @include grid-column(8);
    }
  }
}

.layout-sidebar {

  @include grid-media($menu-grid) {
    .layout-sidebar__item {
      @include grid-column(2);
    }
  }

}

.layout-sidebar--loggedin {

  @include grid-media($menu-grid2) {
    .layout-sidebar__item {
      @include grid-column(1);
    }
  }

}

.layout-main {
  margin-top: 35px;
  @include grid-column(1, $article-layout-grid);
}