$article-layout-grid: (
        columns: 12,
        gutter: 2rem,
);

$article-layout-grid--tablet-up: (
        columns: 5,
        gutter: 2rem,
        media: "(min-width: 768px)",
);

$menu-grid: (
        columns: 4,
        gutter: 10px,
        media: "(min-width: 280px)",
);

$menu-grid2: (
        columns: 3,
        gutter: 10px,
        media: "(min-width: 350px)",
);

#main {
  @include grid-container;
}

/*
.layout-top {
  @include grid-column(1, $article-layout-grid);
  margin-bottom: 2rem;
  height: 10rem;
}
*/
.layout-sidebar {
  max-width: 400px;

  @include grid-media($menu-grid) {
    .layout-sidebar__item1 {
      @include grid-column(2);
    }

    .layout-sidebar__item2 {
      @include grid-column(2);
    }

  }

}

.layout-sidebar--loggedin {
  max-width: 400px;

  @include grid-media($menu-grid2) {
    .layout-sidebar__item1 {
      @include grid-column(1);
    }

    .layout-sidebar__item2 {
      @include grid-column(1);
    }

    .layout-sidebar__item3 {
      @include grid-column(1);
    }
  }

}

.layout-main {
  margin-top: 35px;
  @include grid-column(12, $article-layout-grid);

  @include grid-media($article-layout-grid--tablet-up) {
    @include grid-column(4);
  }
  //background-image: linear-gradient(to bottom right, #21e9f4, #00d4ff);
  //color: #fff;
  height: 20rem;
}