.customer {
  &__form {
    background: #f7f7f7;
    border: 1px solid #DDD;
    margin: 0 0 .75em;
    padding: 1.5em;
  }

  &__required {
    margin-left: 3px;
    padding-bottom: 5px;
    font-size: 11px;
  }
}